/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  margin: 1rem; /* adds spacing between icons */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

/* Show tooltip on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
